<?xml version="1.0"?>
<config>
    <modules>
        <MKleine_Helpcustomers>
            <version>1.0.0</version>
        </MKleine_Helpcustomers>
    </modules>
    <global>
        <blocks>
            <mk_helpcustomers>
                <class>MKleine_Helpcustomers_Block</class>
            </mk_helpcustomers>
        </blocks>
        <models>
            <mk_helpcustomers>
                <class>MKleine_Helpcustomers_Model</class>
                <resourceModel>mk_helpcustomers_mysql4</resourceModel>
            </mk_helpcustomers>
            <mk_helpcustomers_mysql4>
                <class>MKleine_Helpcustomers_Model_Mysql4</class>
                <entities>
                    <faillog>
                        <table>helpcustomers_faillog</table>
                    </faillog>
                </entities>
            </mk_helpcustomers_mysql4>
            <customer>
                <rewrite>
                    <customer>MKleine_Helpcustomers_Model_Customer</customer>
                </rewrite>
            </customer>
        </models>
        <helpers>
            <mk_helpcustomers>
                <class>MKleine_Helpcustomers_Helper</class>
            </mk_helpcustomers>
        </helpers>
        <resources>
            <helpcustomers_setup>
                <setup>
                    <module>MKleine_Helpcustomers</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </helpcustomers_setup>
            <helpcustomers_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </helpcustomers_write>
            <helpcustomers_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </helpcustomers_read>
        </resources>
        <template>
            <email>
                <customer_helpcustomers_logon_fail_email_template translate="label" module="mk_helpcustomers">
                    <label>Logon fail template</label>
                    <file>logon_fail_template.html</file>
                    <type>html</type>
                </customer_helpcustomers_logon_fail_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <events>
            <customer_customer_authenticated>
                <observers>
                    <mk_helpcustomers_customer_customer_authenticated>
                        <type>singleton</type>
                        <class>mk_helpcustomers/observer</class>
                        <method>customer_customer_authenticated</method>
                    </mk_helpcustomers_customer_customer_authenticated>
                </observers>
            </customer_customer_authenticated>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <mk_helpcustomers>
                    <files>
                        <default>MKleine_Helpcustomers.csv</default>
                    </files>
                </mk_helpcustomers>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <mk_helpcustomers_send_mail>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mk_helpcustomers/observer::send_mail</model>
                </run>
            </mk_helpcustomers_send_mail>
        </jobs>
    </crontab>
    <default>
        <customer>
            <helpcustomers>
                <active>1</active>
                <logon_fail_email_template>customer_helpcustomers_logon_fail_email_template</logon_fail_email_template>
            </helpcustomers>
        </customer>
    </default>
    <phpunit>
        <suite>
            <modules>
                <MKleine_Helpcustomers />
            </modules>
        </suite>
    </phpunit>
</config>
